.App {
  display: flex;
  flex-direction: column;
  background: transparent;
  min-height: 100vh;
  position: relative;
  padding-bottom: 1em;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 4rem;
}
.header-site-name {
  color: #fff !important;
}

a:link {
  text-decoration: none;
}

.App .page-header {
  padding: 0;
  background: #000;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  z-index: 1;
}
.btn-add {
  height: 5rem;
  width: 5rem;
  margin-left: 3rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-group {
  margin-bottom: 0 !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
